* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

body {
    width: 100vw;
    background: url(./img/background.jpg);
    background-size: cover;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./img/logo.jpg);
    background-size: cover;
    transition: 2s;
}

.logo:hover {
    background-image: url(./img/logo2.jpg);
    width: 200px;
    background-size: cover;
}

.nav__link {
    transition: 0.5s;
}

.nav__link:hover {
    font-size: 30px;
    color: #6e0629;
}

.container {
    width: 1200px;
    height: 100%;
    margin: auto;
    background: #ffd6ff;
}

.header {
    height: 150px;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: linear-gradient(#fbe1e1, #f8ebc1, #fff1c1);
}

.logo-name {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nav__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.order-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.order__link {
    height: 50px;
    width: 50px;
    background-size: cover;
}

.cart {
    background-image: url(./img/shopping-cart.svg);
}

.order {
    background-image: url(./img/order.svg);
}

.main {
    height: 850px;
}

.main__inner {
    background: #ffecec;
}

.footer {
    height: 150px;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(#ffe58e, #f8ebc1, #ffcaca);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.about__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: 0.5s;
}

.about__link:hover {
    font-size: 30px;
    color: #6e0629;
}

.sales-block {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: yellow;
}

.sale {
    width: 300px;
    height: 100%;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 50px;
    
}

.sale-one {
    background: url(./img/mangoSale.jpg);
    background-size: cover; 
    color: #6e0629;
}

.sale-two {
    background: url(./img/pineappleSale.jpg);
    background-size: cover;
    color: #ffeaef; 
}

.sale-three {
    background: url(./img/dragonFruitSale.jpg);
    background-size: cover; 
    color: #ffeaef;
    font-size: 40px;
}

.sale-four {
    background: url(./img/durianSale.jpg);
    background-size: cover; 
    color: #6e0629;
}

.sale:hover {
    background: #2a2029;
    transition-delay: 1s;   
}

.product__container {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hit {
    height: 300px;
    width: 300px;
    background: #8f0d34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product__img {
    width: 230px;
    height: 170px;
    background: #ffffff;
    transition: 1s;
}

.product__img:hover {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.product__name {
    font-size: 30px;
    color: #fac8c8;
}

.product__price {
    border: 0;
    border-radius: 0;
    width: 100px;
    height: 40px;
    transition: 1s;
}

.product__price:hover {
    width: 200px;
    background: #fac8c8;
}

.sweet {
    height: 425px;
    width: 400px;
    background: #8f0d34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sour {
    height: 425px;
    width: 400px;
    background: #8f0d34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.neutral {
    height: 425px;
    width: 400px;
    background: #8f0d34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all {
    height: 280px;
    width: 200px;
    background: #8f0d34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all__img {
    width: 170px;
    height: 150px;
    background: #ffffff;
}

.product-page {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.one-page-main {
    height: 400px;
}

.one-product-img {
    height: 400px;
    width: 400px;
    background: #fff;
    margin-left: 50px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 100px;
    width: 400px;
}

.info-item {
    margin-bottom: 30px;
    text-align: center;
    color: #6e0629;
    font-size: 20px;
    font-weight: bold;
}

.add-to-cart {
    color: #000;
    font-weight: normal;
    background-color: #8f0d34;
    font-size: 30px;
    border: 0;
    height: 40px;
    transition: 1s;
}

.add-to-cart:hover {
    height: 60px;
    font-size: 40px;
}

.big-sale-block {
    width: 1200px;
    height: 200px;
    background-color: #8f0d34;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sale-description {
    font-size: 50px;
    color: #ffeaef;
}

.buy-sale {
    width: 300px;
    height: 50px;
    border: 0;
    background: #ffcaca;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 50px;
    width: 1000px;
    margin: auto;
}

.clear-button {
    width: 1000px;
    margin-left: 100px;
    border: 0;
    background: #8f0d34;
    height: 60px;
    font-size: 50px;
    color: #000000;
    text-align: center;
}

.cart {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: rgb(199, 42, 238);
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
}

input {
    border: 0;
    width: 300px;
    height: 60px;
    background: #f38181;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
}

.submit {
    border: 0;
    width: 250px;
    height: 60px;
    background: #8f0d34;
    color: #000;
    font-size: 20px;
}

.loader {
    width: 70px;
    height: 70px;
    background: url(./img/loader.gif);
    background-size: cover;
    z-index: 100;
    margin: auto;
    margin-top: 420px;
}

.about__text {
    width: 1000px;
    margin: auto;
    font-size: 50px;
    background-color: #fac8c8;
}

.type-text {
    position: relative;
    top: -255px;
    font-size: 20px;
    font-style: italic;
    color: #f38181;
}